#### 1. Print a pattern

In [1]:
num=4

for i in range(num):     
    for j in range(i+1): 
        print('ineuron ', end=' ')
    print('')

ineuron
ineuron  ineuron
ineuron  ineuron  ineuron
ineuron  ineuron  ineuron  ineuron

#### 2. Print a pattern

In [7]:
for i in range(6):
    if i <= 3:
        n= i
    else:
        n= 6-i
    print(("ineuron "*n).center(45,' '))

                   ineuron
               ineuron ineuron
           ineuron ineuron ineuron
               ineuron ineuron
                   ineuron

In [2]:
num= 3

for i in range(1, num+1): 
    print((num-i)*"   ", i*"ineuron ")
    
for j in range(num-1, 0, -1): 
    print((num-j)*"   ", j*"ineuron ")

       ineuron
    ineuron ineuron
 ineuron ineuron ineuron
    ineuron ineuron
       ineuron

In [2]:
l= [[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]), {'k1':'sudh', 'k2':'ineuron', 'k3':'kumar', 3:6, 7:8}, ['ineuron','data science']]

#### 3. Try to extract all the list entities

In [4]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

#### 4. Try to extract all the dict entities

In [5]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

#### 5. Try to extract all the tuple entities

In [6]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

#### 6. Try to extract all the numerical data it may be a part of dict key & values

In [4]:
s= set()

for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                s.add(j)
            
    if type(i)==dict:
        for p,q in i.items():
            if type(p)==int:
                s.add(p)
            
            if type(q)==int: 
                s.add(q)

print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 45, 23}

#### 7. Try to give summation of all the numeric data

In [8]:
summation= 0
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set: 
        for j in i:
            if type(j)==int:
                summation += j
                
    if type(i)==dict:
        for p,q in i.items():
            if type(p)==int:
                summation += p
            
            if type(q)==int:
                summation += q
                
print("Summation: ",summation)

Summation:  156

#### 8. Try to filter out all the odd values out of all numeric data which is a part of list

In [9]:
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int and j%2!=0:
                print(j)

1
3

#### 9. Try to extract 'ineuron' out of this data

In [10]:
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str and j=='ineuron':
                print('In', type(i), ':', j)
    
    if type(i)==dict:
        for p,q in i.items():
            if type(p)==str and p=='ineuron':
                print('In', type(i), ':', p)
            
            if type(q)==str and q=='ineuron':
                print('In', type(i), ':', q)

In <class 'dict'> : ineuron
In <class 'list'> : ineuron

#### 10. Try to find out a number of occurrences of all the data

In [11]:
l1=[]

for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            l1.append(j)
    
    if type(i)==dict:
        for p,q in i.items():
            l1.append(p)
            l1.append(q)
            
s= set(l1)

for i in s:
    print(i, ":", l1.count(i))

k2 : 1
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k3 : 1
8 : 1
data science : 1
45 : 1
k1 : 1
23 : 1
kumar : 1
ineuron : 2
sudh : 1

#### 11. Try to find out number of keys in dict element

In [12]:
cnt= 0
for i in l:
    if type(i)==dict:
        for j in i:
            print("Key in dict: ",j)
            cnt += 1
    
print("\nNumber of keys in a dictionary: ",cnt)

Key in dict:  k1
Key in dict:  k2
Key in dict:  k3
Key in dict:  3
Key in dict:  7

Number of keys in a dictionary:  5

#### 12. Try to filter out all the string data

In [13]:
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                print(j)
                
    if type(i)==dict:
        for p,q in i.items():
            if type(p)==str:
                print(p)
            
            if type(q)==str:
                print(q)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

#### 13. Try to find out alphanum in data

In [5]:
l1= []

for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                l1.append(j)
                
    if type(i)==dict:
        for p,q in i.items():
            if type(p)==str:
                l1.append(p)
            
            if type(q)==str:
                l1.append(q)
print(l1)
for i in l1:
    for j in range(len(i)):
        if i[j] in '0123456789':
            print(i)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science']
k1
k2
k3

#### 14. Try to find out multiplication of all numeric value in the individual collection inside dataset

In [11]:
mul=1

for i in l:
    if type(i)==dict:
        for p,q in i.items():
            if type(p)==int or type(q)==int:
                mul *= p 
                mul *= q
                
        print("Multiplicaton of", type(i), "elements: ",mul)

        
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                mul *= j 
            
        print("Multiplicaton of", type(i), "elements: ",mul)
    mul=1

Multiplicaton of <class 'list'> elements:  24
Multiplicaton of <class 'tuple'> elements:  720
Multiplicaton of <class 'tuple'> elements:  2520
Multiplicaton of <class 'set'> elements:  20700
Multiplicaton of <class 'dict'> elements:  1008
Multiplicaton of <class 'list'> elements:  1

#### 15. Try to unwrap all the collection inside collection & create a flat list

In [16]:
[j for i in l for j in i]

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'ineuron',
 'data science']