#### 1. Try to print a prime number in between 1 to 1000

In [1]:
print("Prime numbers")
for num in range(2, 1001):
        for i in range(2, num):
            if num%i == 0:
                break

        else:
            print(num)

Prime numbers
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

#### 2. Try to write a function which  is equivalent  to print function in python

In [2]:
def replace_print(*to_print):
    print(*to_print)
    
replace_print('This', '\nfunction is', '\neqivalent to print()')

This
function is
eqivalent to print()

#### 3. Try to write a function which is a replica of list append , extend and pop function

In [3]:
def append(lst, *elements):
    """Appends the elments at the end of a list
    Arguments:
    lst= pass any list 
    *elements= pass elements to append"""
    
    lst += elements
    print("\nList after append operation:", lst)
    
def pop(lst):
    """Removes an element from a list. If index is not mentioned, the default index is '-1'.
    Throws error if index is out of range or list is empty.
    Arguments:
    lst= pass any list"""
    
    try:
        user_indx= int(input("\nEnter index to pop an element:"))

        if user_indx >= 0:
            popped_ele= lst[user_indx]
            del(lst[user_indx])
            print("Popped item: "+str(popped_ele))

        elif user_indx < 0:  
            indx= len(lst)
            ele_to_del= indx + user_indx
            popped_ele= lst[user_indx]
            del(lst[ele_to_del])
            print("Popped item: "+str(popped_ele))
        
        print("\nList after pop operation:", lst)  
        
    except IndexError:
        if lst:
            return 'IndexError: pop index out of range'
        else:
            return 'IndexError: pop from empty list'
            
    except ValueError or IndexError:
        indx= len(lst)
        indx = indx - 1
        popped_ele= lst[indx]
        del(lst[indx])
        print("Popped item: "+str(popped_ele))
        print("\nList after pop operation:", lst)


def extend(lst, element):
    """Extends an iterable object at the end of a list.
    Arguments:
    lst= pass any list
    element= pass a iterable object"""
    
    if type(element)==list or type(element)==tuple or type(element)==set or type(element)==dict or type(element) == str:
        lst += element
        print("\nList after extend operation:", lst)

    else:
        print("TypeError: Enter iterable objects only")

    
lst= []
indx= len(lst)

In [4]:
pop(lst)

Enter index to pop an element:0

'IndexError: pop from empty list'

In [5]:
append(lst, 'xyz',3.3,'jhb',(1,3,4),4+7j,{1:'one', 2:'two'},{4,4,4,4,6,7,7,6})

List after append operation: ['xyz', 3.3, 'jhb', (1, 3, 4), (4+7j), {1: 'one', 2: 'two'}, {4, 6, 7}]

In [6]:
pop(lst) # default pop operation: if i don't mention index here it'll pop out the last element from a list

Enter index to pop an element:
Popped item: {4, 6, 7}

List after pop operation: ['xyz', 3.3, 'jhb', (1, 3, 4), (4+7j), {1: 'one', 2: 'two'}]

In [7]:
pop(lst)

Enter index to pop an element:-3
Popped item: (1, 3, 4)

List after pop operation: ['xyz', 3.3, 'jhb', (4+7j), {1: 'one', 2: 'two'}]

In [8]:
pop(lst)

Enter index to pop an element:1
Popped item: 3.3

List after pop operation: ['xyz', 'jhb', (4+7j), {1: 'one', 2: 'two'}]

In [9]:
extend(lst, {'k1':'v1', 'k2':'v2'})

List after extend operation: ['xyz', 'jhb', (4+7j), {1: 'one', 2: 'two'}, 'k1', 'k2']

In [10]:
extend(lst, 'fgh')

List after extend operation: ['xyz', 'jhb', (4+7j), {1: 'one', 2: 'two'}, 'k1', 'k2', 'f', 'g', 'h']

In [11]:
extend(lst, 3)

TypeError: Enter iterable objects only

In [12]:
pop(lst)

Enter index to pop an element:10

'IndexError: pop index out of range'

#### 4. Try to write a lambda function which can return a concatenation of all the string that we will pass

In [13]:
"""Returns concatenation of strings"""

from functools import reduce

strings= ['This ','function ','returns ','concatenation ','of ', 'strings']
print(reduce(lambda x, y: x + y, strings))

This function returns concatenation of strings

#### 5. Try to write a lambda function which can return list of square of all the data between 1-100

In [14]:
"""Returns a list of square of all the numbers between 1 to 100"""

n= lambda :[x**2 for x in range(1,101)]  
n()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

#### 6. Try to write a 10 Different different example of lambda function with a choice of your taks

In [15]:
#1
"""Returns a list of sorted elements according to sum of each tuple"""

iterable= [(1,2), (-2,5), (10,4), (7,3), (-5,-2)]
sorted_tup= sorted(iterable, key= lambda x: x[0] + x[1])

print(sorted_tup)

[(-5, -2), (1, 2), (-2, 5), (7, 3), (10, 4)]

In [16]:
#2
"""Returns a square of a numbers. Mention a number inside num variable to get its square."""
num= 25
sq= lambda x: x**2
print(str(num)+'ˆ2 =',sq(num))

25ˆ2 = 625

In [17]:
#3
"""Returns a list of elements divisible by 2"""

lst= [1, 2, 3, 4, 5]
print(list(filter(lambda x: x%2 == 0, lst)))

[2, 4]

In [18]:
#4
"""This function will repeatedly apply lambda fucntion to the elements of list i.e, reduce will perform 
   multiplication of each element one by one and return a single value i.e, final product"""

from functools import reduce

lst= [1, 2, 3, 4]
lst_element_product= reduce(lambda x,y: x*y, lst)
print(lst_element_product)

24

In [19]:
#5
"""Returns a maximum value"""

max_= lambda x,y: x if x>y else y
print(max_(-35,-78))

-35

In [20]:
#6
"""Returns a table of a particular number, mention any number inside a num variable to print its table"""

num= 50
print('Table of', num, ':')
lst = [lambda i= j: i * num for j in range(1, 11)]

k= 1
while k <= 10:
    for f in lst:
        print(' ', num, 'x', k, '=', f())
        k += 1

Table of 50 :
  50 x 1 = 50
  50 x 2 = 100
  50 x 3 = 150
  50 x 4 = 200
  50 x 5 = 250
  50 x 6 = 300
  50 x 7 = 350
  50 x 8 = 400
  50 x 9 = 450
  50 x 10 = 500

In [21]:
#7
"""Returns tens digit"""

tens_digit= lambda n: int(n/10) % 10
tens_digit(4673.78)

7

In [22]:
#8
"""Returns list of words from a list, starting with a particular letter mentiond in letter variable"""

lst= ['fifa', 'notebook', 'frog', 'couch', 'supernatural', 'french']
letter= 'f'

starts_with= list(filter(lambda x: True if x.startswith(letter) else False , lst))
print(starts_with)

['fifa', 'frog', 'french']

In [23]:
#9
"""Function returns present year"""
import datetime

present= datetime.datetime.now()
year= lambda x: x.year

print('Current year:',year(present))

Current year: 2022

In [24]:
#10
"""Return list of strings in capitalized format"""
lst= ['mr bean', 'wow', 'ocean']

list(map(lambda x: x.capitalize(), lst))

['Mr bean', 'Wow', 'Ocean']

#### 7. Try to write a funtion which can perform a read operation from .txt file

In [25]:
def read_from_file():
    """This function opens a mentioned file in reading mode. And prints the data that the particular file holds."""
    f= open('Mindset.txt','r')
    print(f.read())

read_from_file()

“He didn’t ask for mistake-free games. He didn’t demand that his players never lose. He asked for full preparation and full effort from them. “Did I win? Did I lose? Those are the wrong questions. The correct question is: Did I make my best effort?” If so, he says, “You may be outscored but you will never lose.”
“Becoming is better than being”
“We like to think of our champions and idols as superheroes who were born different from us. We don’t like to think of them as relatively ordinary people who made themselves extraordinary.”
“Picture your brain forming new connections as you meet the challenge and learn. Keep on going.”
“True self-confidence is “the courage to be open—to welcome change and new ideas regardless of their source.” Real self-confidence is not reflected in a title, an expensive suit, a fancy car, or a series of acquisitions. It is reflected in your mindset: your readiness to grow.”
“John Wooden, the legendary basketball coach, says you aren’t a failure until you start to blame. What he means is that you can still be in the process of learning from your mistakes until you deny them.”
“If you don’t give anything, don’t expect anything. Success is not coming to you, you must come to it.”
“If you had to choose, which would it be? Loads of success and validation or lots of challenge?”